
body {
    background-image: url("https://images.pexels.com/photos/1305360/pexels-photo-1305360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 }
 .font{

    color:white;
 }

 .bak{

    background-color: rgb(44, 42, 42);
opacity: 0.7;   

 }